body{
    background-image: url(52e3e838338fbddc1a74bc0a5ed0ce55.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper .text-right {
    position: absolute;
    top: 60px;
    right: 180px;
    color: #f2f2f2;
    text-shadow: 0 0 20px rgba(157, 181, 226, 0.928);
    font-size: 50px;
    user-select: none;
    font-family: 'Parisienne', cursive;
}
.wrapper .text-right::before {
    content: 'Back';
    position: absolute;
    top: 60px;
    right: -50px;
}
.wrapper img {
    position: absolute;
    right: -40px;
    bottom: -160px;
    width: 60%;
    transform: rotate(260deg);
}
.form-wrapper {
    z-index: 2;
}
.wrapper .form-wrapper.login {
    transition: .7s ease-in-out;
    transition-delay: .7s;
}
.wrapper.active .form-wrapper.login {
    transition-delay: 0s;
    transform: translateX(-400px);
}
.wrapper .form-wrapper.register {
    position: absolute;
    margin-top: 15px;
    transform: translateX(-400px);
    transition: .7s ease-in-out;
}
.wrapper.active .form-wrapper.register {
    transition-delay: .7s;
    transform: translateX(0);
}
h2 {
    font-size: 2em;
    text-align: center;
    color: #5993d0;
}
.input-box {
    position: relative;
    width: 320px;
    margin: 30px 0;
}
.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #f2f2f2;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #f2f2f2;
    padding: 0 20px 0 40px;
}
.input-box input::placeholder {
    color: rgba(255, 255, 255, .3);
}
.input-box .icon {
    position: absolute;
    left: 15px;
    color: #f2f2f2;
    font-size: 1.2em;
    line-height: 55px;
}
.forgot-pass {
    margin: -15px 0 15px 15px;
}
.forgot-pass a {
    color: #f2f2f2;
    font-size: .9em;
    text-decoration: none;
}
.forgot-pass a:hover {
    text-decoration: underline;
}
button {
    width: 100%;
    height: 45px;
    background: #f2f2f2;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #233b94;
    font-weight: 500;
}
.sign-link {
    font-size: .9em;
    text-align: center;
    margin: 25px 0;
}
.sign-link p {
    color: #f2f2f2;
}
.sign-link p a {
    color: #7f98e9;
    text-decoration: none;
    font-weight: 600;
}
.sign-link p a:hover {
    text-decoration: underline;
}
button {
    width: 100%;
    height: 45px;
    background: #f2f2f2;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #233b94;
    font-weight: 500;
}